/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
  margin: 0px;
  padding: 0px;
}

.menu {
  background-color: #00008b;
  color: #ffffff;
  line-height: 2em;
}

.menu-toggle{
  display: flex;
}

nav {
  text-align: center;
  background-color: #00008b;
  color: #ffffff;
  display: none;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

nav a{
  color: #ffffff;
  padding: 5px;
}

/*

nav a:hover{
  background: #add8e6
}


.menu:hover + nav, nav:hover{
  display: flex;
}
*/

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  nav{
    display: flex;
    flex-direction: row;
  }

  body {
    background: #cfc;
  }
  .menu{
    display: none;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
  .menu{
    display: none;
  }
}
